* {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  background-color: beige;
}

.container-fluid {
  background-color: beige;
}

footer {
  font-size: 10px;
  text-align: center;
  background-color: rgb(195, 171, 143);
  height: 200px;
  color: white;
}
footer a {
  font-size: 15px;
  color: #676464;
}
footer div {
  padding-top: 20px;
}
footer div p {
  padding: 20px 0;
}

.icon-wsp {
  position: fixed;
  right: 50px;
  bottom: 25px;
  transition: 2s;
}
.icon-wsp:hover {
  transform: rotate(360deg);
}

.map {
  width: 90%;
  max-width: 399px;
  height: auto;
}

@media (max-width: 400px) {
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-bottom: 1em;
    justify-content: center;
  }
  .map {
    width: 90%;
    max-width: 399px;
    height: auto;
  }
}
@media (min-width: 400px) and (max-width: 670px) {
  .map {
    display: none;
  }
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-bottom: 1em;
  }
}
@media (min-width: 670px) and (max-width: 1200px) {
  footer {
    padding: 2em;
  }
  .map {
    max-width: 750px;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
}
.sectionportfolio {
  background-color: black;
  color: white;
  padding: 60px;
}

.portfolio {
  max-width: 800px;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.grid-item {
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.grid-item img {
  width: 100%;
  max-height: 400px;
  height: auto;
  width: auto;
}

.sectionaboutme {
  background-color: black;
  color: white;
  padding: 40px;
}
.sectionaboutme h2 {
  padding: 20px 0;
}

.sectionaboutimg img {
  max-width: 100%;
  height: auto;
  display: flex;
}

.contact {
  background-color: rgb(195, 171, 143);
  padding: 40px;
  color: white;
}
.contact a {
  font-size: 10px;
}
.contact a:hover {
  font-size: 15px;
  cursor: pointer;
}

.studio {
  background-color: black;
  color: white;
  padding: 40px;
}
.studio h3 {
  padding-bottom: 20px;
}
.studio p {
  padding-bottom: 20px;
}

.presentacion {
  background-color: rgb(195, 171, 143);
  color: white;
}
.presentacion h1 {
  font-size: 60px;
  text-align: left;
  padding: 40px 20px;
}
.presentacion p {
  font-size: 15px;
  padding: 10px 20px;
}

.carousel-inner {
  max-width: 100%;
  height: auto;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.card-body {
  font-size: 10px;
}

.pedircita {
  background-color: black;
  font-size: 10px;
  color: white;
  border: none;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.pedircita:hover {
  background-color: rgb(63, 49, 49);
}

.servicios {
  background-color: black;
  padding: 20px 40px;
  color: white;
  justify-content: left;
}
.servicios ul {
  list-style-type: none;
  justify-content: center;
  text-align: left;
}
.servicios ul li {
  padding: 10px 20px;
  text-align: left;
}
.servicios h2 {
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

/*# sourceMappingURL=style.css.map */
