// variables
$color-beige: beige;
$color-black: black;
$color-white: white;
$color-grey: #676464;
$color-dark-grey: rgb(63, 49, 49);
$color-light-brown: rgb(195, 171, 143);

$font-size-small: 10px;
$font-size-medium: 15px;
$font-size-large: 60px;

$padding-small: 10px;
$padding-medium: 20px;
$padding-large: 40px;

