
// estilos para pantallas de al menos 400px de ancho
@media (max-width: 400px) {
    .cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      margin-bottom: 1em;
      justify-content: center;
    }
  
    .map {
      width: 90%;
      max-width: 399px;
      height: auto;
    }
  }
  
  // estilos para pantallas de 400 a 670px
  @media (min-width: 400px) and (max-width: 670px) {
    .map {
      display: none;
    }
  
    .cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      margin-bottom: 1em;
    }
  }
  
  // estilos para pantallas de al menos 670px y menos 1200px de ancho
  @media (min-width: 670px) and (max-width: 1200px) {
    footer {
      padding: 2em;
    }
  
    .map {
      max-width: 750px;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;  
      }
  }
